{:paths ["src" "resources"]
 :jolt/build
 {:aspects
  [{:resource "META-INF/jolt/aspects/probe.edn"
    :providers [instrumentation.provider instrumentation.audit-provider]}]
  :aspect-report "target/aspects.edn"}}
